:root {
  --bg: #0c0d15;
  --accent: #ff4f03;
  --muted: #9db0d1;
  --card: #ffffff;
  --glass: rgba(255, 255, 255, 0.06);
}

* {
  box-sizing: border-box
}


html{
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background:rgba(233, 233, 233, 0.5);
  color: black;
}

h1,h2,h3, h4{
  color: var(--accent);
}
p{
color:#0c0d15;
text-align: center;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'poppins', sans-serif;
    background:rgba(233, 233, 233, 0.5);

  color: rgba(0, 0, 0, 0.8);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 24px
}

.nav {
  background: rgba(255, 128, 0, 0.8);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 40
}

.nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0
}

.brand {
  font-weight: 700;
  color: white;
  text-decoration: none;
  font-size: 1.3rem
}

.brand span {
  color: var(--accent)
}

.nav-links {
  display: flex;
  gap: 18px;
  align-items: center
}

.nav-links a {
  color: var(--bg);
  text-decoration: none;
  font-weight: 600
}

.btn {
  display: inline-block;
  padding: 10px 16px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600
}

.btn-primary {
  background: var(--bg);
  color: white
}

.btn-ghost {
  border: 2px solid var(--bg);
  color: var(--bg);
  background: transparent
}

.btn-outline {
  border: 1px solid rgba(11, 37, 69, 0.08);
  padding: 8px 12px
}

.hamburger {
  display: none;
  background: transparent;
  border: 0
}

.hamburger span {
  display: block;
  width: 22px;
  height: 2px;
  background: var(--bg);
  margin: 4px 0;
  border-radius: 2px
}

.hero {
  padding: 48px 0
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 460px;
  gap: 36px;
  align-items: center
}

.hero-left h1 {
  font-size: 2.2rem;
  margin: 0 0 12px
}


.lead {
  color:black;
  margin: 8px 0 18px
}

.hero-image {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(11, 37, 69, 0.08)
}

.cta-row {
  display: flex;
  gap: 12px;
  margin: 16px 0
}

.cta-row a{
  color: white;
}

.trust {
  display: flex;
  gap: 14px;
  margin-top: 18px;
  color: var(--muted);
  font-weight: 600
}

.section {
  padding: 48px 0;
}



.services .grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px
}

.services h2{
  font-size: 32px;
  text-align: center;
}

.card {
  background: #ffffff;
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 18px;
  box-shadow: 0 10px 10px rgb(119, 119, 119)
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px
}

.link-inline {
  color: var(--bg);
  font-weight: 700;
  text-decoration: none
}

.how .steps {
  display: flex;
  gap: 18px;
  margin-top: 18px
}

.section h2{
  font-size: 36px;
  text-align: center;
}

.step {
  background: linear-gradient(to right, transparent, white, white);
  padding: 18px;
  border-radius: 20px;
  text-align: center
}

.step-num {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background:rgba(255, 132, 0);
  color: #fff;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700
}

.how .steps img{
  height: 60px;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');



.line {
  width: 100%;
}

.flex {
  display: flex;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* main-png  */

.main-img{
  margin: 3rem 0rem;
  padding: 15px ;
  background: white;
  background-image:  url(/assets/img/hero\ rings\ icon.png);
  background-size: 60%;
  background-position: center ;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}

.main-img p{
  font-size: 25px;
  margin: 0 25px;
}

@media (max-width: 780px){
.main-img{
    background-image:  url(/assets/img/hero\ rings\ icon.png);
  background-size: 100%;
  background-position: center ;
  gap: 15px;
}

.main-img img{
height: 250px;
}
.main-img p{
  font-size: 20px;
  margin: 2px;
}

}

/* cards-slider  */

.outer-wrapper {
  width: 70%;
  margin: 50px auto;
}

.outer-wrapper h1{
  text-align: center;
}

.s-wrap {
  width: 100%;
  margin-bottom: 50px;
  padding-bottom: 55%;
  position: relative;
  border: none;
  background-color: #efefe8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 10px;
}

.s-wrap > input {
  display: none;
}

.s-content {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 500%; /* 100% * 5 */
  height: 100%;
  font-size: 0;
  list-style: none;
  transition: transform 1s; /* $switch-speed */
}

.s-item {
  display: inline-block;
  width: 20%; /* 100% / 5 */
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.s-item-1 {
  background-image: url('https://images.unsplash.com/photo-1457369804613-52c61a468e7d?crop=entropy&fit=crop&fm=jpg&h=600&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=800');
}

.s-item-2 {
  background-image: url('https://images.unsplash.com/photo-1456318019777-ccdc4d5b2396?crop=entropy&fit=crop&fm=jpg&h=600&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=800');
}

.s-item-3 {
  background-image: url('https://images.unsplash.com/photo-1428189923803-e9801d464d76?crop=entropy&fit=crop&fm=jpg&h=600&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=800');
}

.s-item-4 {
  background-image: url('https://images.unsplash.com/photo-1422393462206-207b0fbd8d6b?crop=entropy&fit=crop&fm=jpg&h=600&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=800');
}

.s-item-5 {
  background-image: url('https://images.unsplash.com/photo-1439736637365-748f240b24fb?crop=entropy&fit=crop&fm=jpg&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=800');
}

.s-type-1 .s-control {
  position: absolute;
  bottom: 18px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  transition-timing-function: ease-out;
}

.s-type-1 .s-control > label.s-c-1,
.s-type-1 .s-control > label.s-c-2,
.s-type-1 .s-control > label.s-c-3,
.s-type-1 .s-control > label.s-c-4,
.s-type-1 .s-control > label.s-c-5 {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #999;
  background-color: #efefe8;
  cursor: pointer;
}

.s-type-1 .s-nav label {
  display: none;
  position: absolute;
  top: 50%;
  padding: 5px 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.s-type-1 .s-nav label::before,
.s-type-1 .s-nav label::after {
  content: "";
  display: block;
  width: 8px;
  height: 24px;
  background-color: #ffffff;
}

@media (max-width: 780px){

  .outer-wrapper{
    width: 95vw;
  }

  .s-type-1 .s-control > label.s-c-1,
.s-type-1 .s-control > label.s-c-2,
.s-type-1 .s-control > label.s-c-3,
.s-type-1 .s-control > label.s-c-4,
.s-type-1 .s-control > label.s-c-5 {
  width: 6px;
  height: 6px;
}

  .s-type-1 .s-nav label::before,
.s-type-1 .s-nav label::after {
  width: 8px;
  height: 24px;
  background-color: rgb(168, 168, 168, 0.5) ;
}
}

.s-type-1 .s-nav label::before {
  margin-bottom: -12px;
}

.s-type-1 .s-nav label.left {
  left: 20px;
}

.s-type-1 .s-nav label.left::before {
  transform: rotate(45deg);
}

.s-type-1 .s-nav label.left::after {
  transform: rotate(-45deg);
}

.s-type-1 .s-nav label.right {
  right: 20px;
}

.s-type-1 .s-nav label.right::before {
  transform: rotate(-45deg);
}

.s-type-1 .s-nav label.right::after {
  transform: rotate(45deg);
}

/* states for checked inputs to control transform and styles */
#s-1:checked ~ .s-content {
  transform: translateX(0%);
}

#s-1:checked ~ .s-control .s-c-1 {
  background-color: #333;
}

#s-1:checked ~ .s-nav .s-nav-1 {
  display: block;
}

#s-2:checked ~ .s-content {
  transform: translateX(-20%);
}

#s-2:checked ~ .s-control .s-c-2 {
  background-color: #333;
}

#s-2:checked ~ .s-nav .s-nav-2 {
  display: block;
}

#s-3:checked ~ .s-content {
  transform: translateX(-40%);
}

#s-3:checked ~ .s-control .s-c-3 {
  background-color: #333;
}

#s-3:checked ~ .s-nav .s-nav-3 {
  display: block;
}

#s-4:checked ~ .s-content {
  transform: translateX(-60%);
}

#s-4:checked ~ .s-control .s-c-4 {
  background-color: #333;
}

#s-4:checked ~ .s-nav .s-nav-4 {
  display: block;
}

#s-5:checked ~ .s-content {
  transform: translateX(-80%);
}

#s-5:checked ~ .s-control .s-c-5 {
  background-color: #333;
}

#s-5:checked ~ .s-nav .s-nav-5 {
  display: block;
}

.s-type-2 .s-content {
  animation: slider-animation 30s ease-in-out infinite;
}


@keyframes slider-animation {
  0%,
  7% {
    transform: translateX(0%);
  }
  14%,
  21% {
    transform: translateX(-20%);
  }
  28%,
  35% {
    transform: translateX(-40%);
  }
  42%,
  49% {
    transform: translateX(-60%);
  }
  56%,
  63% {
    transform: translateX(-80%);
  }
  70%,
  77% {
    transform: translateX(-60%);
  }
  84%,
  91% {
    transform: translateX(-40%);
  }
  98%,
  100% {
    transform: translateX(-20%);
  }
}



/* slideshow  */

.slideshow{
  margin: 32px;
}

@layer base, demo;
@import url(https://fonts.bunny.net/css?family=abel:400);

@layer demo {
	.carousel {
		--items: 6;
		--carousel-duration: 40s;
		@media (width > 600px) {
			--carousel-duration: 30s;
		}
		--carousel-width: min(
			80vw,
			1200px
		); /* note - it will "break" if it gets too wide and there aren't enough items */
		--carousel-item-width: 280px;
		--carousel-item-height: 450px;
		--carousel-item-gap: 2rem;

		--clr-cta: rgb(0, 132, 209);

		position: relative;
		width: var(--carousel-width);
		height: var(--carousel-item-height);
		overflow: clip;

		&[mask] {
			/* fade out on sides */
			mask-image: linear-gradient(
				to right,
				transparent,
				black 10% 90%,
				transparent
			);
		}

		&[reverse] > article {
			animation-direction: reverse;
		}
		/* hover pauses animation */
		&:hover > article {
			animation-play-state: paused;
		}
	}
	.carousel > article {
		position: absolute;
		top: 0;
		left: calc(100% + var(--carousel-item-gap));
		width: var(--carousel-item-width);
		height: var(--carousel-item-height);
		display: grid;
		grid-template-rows: 200px auto 1fr auto;
		gap: 0.25rem;
		border: 1px solid light-dark(rgba(0 0 0 / 0.25), rgba(255 255 255 / 0.15));
		padding-block-end: 1rem;
		border-radius: 10px;
		background: light-dark(white, rgba(255 255 255 / 0.05));
		color: light-dark(rgb(49, 65, 88), white);

		/* animation */
		will-change: transform;
		animation-name: marquee;
		animation-duration: var(--carousel-duration);
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-delay: calc(
			var(--carousel-duration) / var(--items) * 1 * var(--i) * -1
		);
		&:nth-child(1) {
			--i: 0;
		}
		&:nth-child(2) {
			--i: 1;
		}
		&:nth-child(3) {
			--i: 2;
		}
		&:nth-child(4) {
			--i: 3;
		}
		&:nth-child(5) {
			--i: 4;
		}
		&:nth-child(6) {
			--i: 5;
		}
		&:nth-child(7) {
			--i: 6;
		}
		&:nth-child(8) {
			--i: 7;
		}
	}
	.carousel img {
		width: 100%;
		height: 100%;
		object-fit: cover;

		border-radius: 10px 10px 0 0;
	}
	.carousel > article > *:not(img) {
		padding: 0 1rem;
	}
	.carousel > article > div {
		grid-row: span 2;
		display: grid;
		grid-template-rows: subgrid;
		font-size: 0.8rem;
	}
	.carousel > article h2 {
		font-size: 1.2rem;
		font-weight: 300;
		padding-block: 0.75rem 0.25rem;
		margin: 0;
	}
	.carousel > article p {
		margin: 0;
	}
	.carousel > article a {
		text-decoration: none;
		text-transform: lowercase;
		border: 1px solid var(--clr-cta);
		color: light-dark(var(--clr-cta), white);
		border-radius: 3px;
		padding: 0.25rem 0.5rem;
		place-self: start;
		transition: 150ms ease-in-out;
		&:hover,
		&:focus-visible {
			background-color: var(--clr-cta);
			color: white;
			outline: none;
		}
	}

	@keyframes marquee {
		100% {
			transform: translateX(
				calc(
					(var(--items) * (var(--carousel-item-width) + var(--carousel-item-gap))) *
						-1
				)
			);
		}
	}
}




/* CAROUSEL WRAPPER */
.carousel-wrapper {
  display: flex;
  position: relative;
  width: 90vw;
  margin: 50px;
}

.carousel-wrapper input {
  display: none;
}

/* CAROUSEL */
.carousel {
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
}

.carousel ul {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 500%;
  transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}

.carousel li {
  width: 100%;
}

.carousel li img {
  width: 100%;
  border-radius: 15px;
}

/* NAVIGATION DOTS */
.nav-dot {
  position: absolute;
  cursor: pointer;
  bottom: -22.5px;
  width: 15px;
  height: 15px;
  margin-left: -7.5px;
  opacity: .5;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}

.nav-dot:hover {
  opacity: .8;
  transform: scale(1.2);
}

.nav-dot:active {
  transform: scale(0.9);
}

/* DOT POSITIONS */
.nav-dot[for=slide1] { left: 40%; }
.nav-dot[for=slide2] { left: 45%; }
.nav-dot[for=slide3] { left: 50%; }
.nav-dot[for=slide4] { left: 55%; }
.nav-dot[for=slide5] { left: 60%; }

/* SLIDE CHECK STATES */
#slide1:checked ~ .carousel ul { left: 0; }
#slide2:checked ~ .carousel ul { left: -100%; }
#slide3:checked ~ .carousel ul { left: -200%; }
#slide4:checked ~ .carousel ul { left: -300%; }
#slide5:checked ~ .carousel ul { left: -400%; }

#slide1:checked ~ .nav-dot[for=slide1],
#slide2:checked ~ .nav-dot[for=slide2],
#slide3:checked ~ .nav-dot[for=slide3],
#slide4:checked ~ .nav-dot[for=slide4],
#slide5:checked ~ .nav-dot[for=slide5] {
  opacity: 1;
}

/* ARROWS */
.left-arrow, .right-arrow {
  display: none;
  position: absolute;
  cursor: pointer;
  font-weight: bolder;
  text-shadow: 0 0 7.5px rgba(0, 0, 0, 0.7);
  top: 50%;
  z-index: 1;
  opacity: .7;
  margin-top: -25px;
  height: 50px;
  font-size: 50px;
  transition: .2s;
}

.left-arrow:hover, .right-arrow:hover {
  opacity: 1;
  transform: scale(1.2);
}

.left-arrow:active, .right-arrow:active {
  transform: scale(0.9);
}

.left-arrow { left: 15px; }
.right-arrow { right: 15px; }

/* ARROW DISPLAY RULES */
#slide1:checked ~ .left-arrow[for=slide5],
#slide1:checked ~ .right-arrow[for=slide2],
#slide2:checked ~ .left-arrow[for=slide1],
#slide2:checked ~ .right-arrow[for=slide3],
#slide3:checked ~ .left-arrow[for=slide2],
#slide3:checked ~ .right-arrow[for=slide4],
#slide4:checked ~ .left-arrow[for=slide3],
#slide4:checked ~ .right-arrow[for=slide5],
#slide5:checked ~ .left-arrow[for=slide4],
#slide5:checked ~ .right-arrow[for=slide1] {
  display: block;
}


.about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 30px;
  padding: 20px 0;
  background: linear-gradient(to top, transparent, orange);
  margin: 5rem 0;
}
.about img{
  height: 20vw;
  border-radius: 10px;
}

.about p{
  font-size: 20px;
  margin: 2rem;
}
@media (max-width: 780px){

  .about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 32px 0;
}

.about img{
  height: 150px;
  border-radius: 10px;
}
.about p{
  margin: 0 10px;
}
}

/* SIGNATURE */
.signature {
  margin-top: 100px;
  bottom: 0;
  font-family: "Quicksand", sans-serif;
  color: rgba(150, 150, 170, 1);
  text-shadow: 0 2.5px rgba(0, 0, 0, 0.25);
}

.signature .name {
  color: white;
}

.signature .dot {
  margin: 0 5px;
}

.signature a {
  color: white;
  text-decoration: underline;
}

.cta-strip {
  background: radial-gradient(circle at top,rgb(255, 225, 0), rgba(255, 132, 0, 0.6)) ;
  color: #000;
  padding: 22px
}


.footer {
  background: #0c0d15;
  padding: 28px 0;
  margin-top: 0px
}

.footer-grid {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  align-items: flex-start
}


.footer-grid a{
  color: rgb(255, 140, 0);
  text-decoration: none;
}

.copy {
  text-align: center;
  padding: 12px 0;
  color: var(--muted)
}

.whatsapp-float {
  position: fixed;
  right: 18px;
  bottom: 18px;
  background: #25D366;
  color: white;
  padding: 12px 16px;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  font-weight: 700
}

.page-hero {
  padding: 32px 0
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 380px;
  gap: 20px
}

.form label {
  display: block;
  margin-bottom: 12px;
  font-weight: 600
}

.form input,
.form select,
.form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e6eefc;
  background: #fff
}

.fare-box {
  background: var(--card);
  padding: 12px;
  border-radius: 8px
}

.simple-list {
  list-style: none;
  padding: 0
}

.simple-list li {
  padding: 6px 0
}

.team-grid {
  display: flex;
  gap: 18px;
  padding: 22px 0
}

.team-card {
  background: #fff;
  padding: 12px;
  border-radius: 10px;
  text-align: center
}

.team-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px
}

.footer.small {
  padding: 12px;
  background: transparent
}

@media(max-width:900px) {
  .hero-grid {
    grid-template-columns: 1fr;
  }

  .services .grid-3 {
    grid-template-columns: 1fr
  }

  .testimonials .test-grid {
    grid-template-columns: 1fr
  }

  .grid-2 {
    grid-template-columns: 1fr
  }

  .nav-links {
    position: fixed;
    top: 64px;
    flex-direction: column;
    background: rgb(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(11, 37, 69, 0.06);
    display: none;
   
  }

  .nav-links a{
    color: white;
  }

  .nav-links.open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    padding: 18px;
    border-radius: 20px;
    border: 1px solid #ffb703;
  }

  .hamburger {
    display: block
  }

  .hero .container .hero-left{
    text-align: center;
  }

  #services h2{
  text-align: center;
  font-size: 32px;
}
  #services p{
  text-align: center;
}


.grid-3  p{
  text-align: center;
  color: rgb(0, 0, 0);
}

.link-inline{
  text-align: center;
  display: flex;
  color: #e6eefc;
  justify-content: center;
  align-items: center;
  background: rgba(255, 132, 0);
  padding: 12px;
  border-radius: 12px;
}


.how .steps {
  display: flex;
  flex-direction: column;
}

.how .steps img{
  height: 100px;
}
.section h2{
  text-align: center;
  font-size: 32px;
}

.test-card{
  background: #12325a;
}

.cta-strip a{
  margin: 10px 0;
}



}

/* small improvements */
.card h3 {
  margin-top: 12px
}

.link-inline {
  display: inline-block;
  margin-top: 10px
}

/* Utility */
.container {
  padding-left: 20px;
  padding-right: 20px
}



